@using Microsoft.AspNetCore.Mvc.Localization
@using Plex.ProjectPlanner.Localization
@inject IHtmlLocalizer<ProjectPlannerResource> L
<a class="nav-link" role="button" href="~/Account/Login">Login</a>
